* {
    margin: 0;
    padding: 0;
} 
.container{
    display:flex;
    margin:0px;
    padding:0px;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;    
    width: 80vw;
    margin-left:10%;
    justify-content: center;
}
.header{
    display:flex;
    height: 700px;
    background-color: blue;

}
.middlesection{
    display: flex;
    background-color: orange;
    height:600px;
}
.middlebanner{
    display: flex;
    background-color: green;
    height:200px;
}
.middlesection2{
    display: flex;
    background-color: wheat;
    height:600px;
}
.footer{
    display: flex;
    background-color: dimgray;
    height: 400px;
}
.forma{

}
.logo{

}
.card{

}
.Fixed
{
    position: fixed;
    top: 40%;
    height: 20px;
    width:20px;
    background-color:red;
}